{% macro bio() %}
<div class="split-bio">
    {% if config.extra.content.bio is defined %}
    <span class="tagline">{{ config.extra.content.bio }}</span>
    {% else %}
    <!-- Default tagline. Change me in `config.toml` -->
    <span class="tagline">Donec at libero id lectus porta dapibus eu in nibh. Cras id mauris sapien. Fusce viverra luctus urna ac rutrum. Duis semper elit eu mi facilisis eleifend. Donec semper, ipsum in malesuada congue, purus sem ullamcorper massa, sit amet lacinia nibh enim sed massa.</span>
    {% endif %}
</div>
{% endmacro bio %}
