{% import "macros/head.html" as head -%}
{% import "macros/social.html" as social -%}

{% import "macros/intro.html" as intro -%}
{% import "macros/bio.html" as bio -%}
{% import "macros/lists.html" as lists -%}

<!DOCTYPE html>
<html lang="{{ config.default_language }}" data-theme="light" dir="ltr">
  <head>
    {%- block title -%}
        <title>{{ config.title }}</title>
    {%- endblock title -%}

    {%- block general_meta -%}
        {{ head::general_meta() }}
    {%- endblock general_meta -%}

    {%- block og_preview -%}
        {{ social::og_preview() }}
    {%- endblock og_preview -%}

    {%- block twitter_preview -%}
        {{ social::twitter_preview() }}
    {%- endblock twitter_preview -%}

    {%- block fonts -%}
        {{ head::fonts() }}
    {%- endblock fonts -%}

    {%- block css -%}
        {{ head::styling() }}
    {%- endblock css -%}

    {%- block favicon -%}
        {{ head::favicon() }}
    {%- endblock favicon -%}

    {%- block rss -%}
        {{ head::rss() }}
    {%- endblock rss -%}

  </head>
  <body id="fullsingle" class="page-template-page-fullsingle-split">
    <div class="fs-split">
      {# Left content #}
      <div class="split-image"></div>

      {# Right content #}
      <div class="split-content">
        <div class="split-content-vertically-center">
          {%- block intro -%}
          {{ intro::intro() }}
          {%- endblock intro -%}

          {%- block bio -%}
          {{ bio::bio() }}
          {%- endblock bio -%}

          {%- block lists -%}
          <div class="split-lists">
          {{ lists::connect() }}
          {{ lists::social() }}
          </div><!--./lists-->
          {%- endblock lists -%}

          <div class="split-credit"></div>
        </div><!--./vertically-centered-->
      </div><!--./split-content-->
    </div><!--./fs-split-->

  </body>
</html>
